{% extends "base.html" %}
{% block content %}
  <h2>Cambiar Contraseña</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div>
      {{ form.old_password.label }}<br>
      {{ form.old_password() }}
    </div>
    <div>
      {{ form.new_password.label }}<br>
      {{ form.new_password() }}
    </div>
    <div>
      {{ form.confirm_password.label }}<br>
      {{ form.confirm_password() }}
    </div>
    <div>
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
{% endblock %}
